.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
  border: 2px solid black;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}
tr:hover{
  background-color: grey;
}

th {
  background-color: #555;
  color: white;
}
button{
 height: 40px;
 cursor: pointer;
 border: none;
 border-radius: 5px;
 background-color: #e4e4e4;
}
button:hover{
  background: grey;
  cursor: pointer;
}


